<div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1 >Activación de Cuenta</h1>


            <div class="alert alert-warning" *ngIf="key && !success">
                <span >Activa tu Cuenta</span>
            </div>


            <div class="alert alert-success" *ngIf="success">
                <span ><strong>Tu cuenta ha sido activada.</strong> </span> </div>


            <div *ngIf="key && !success">
                    <button type="submit" class="btn btn-primary" (click)="saveAndActivate()">Activar</button>
            </div>
        </div>
    </div>
</div>
