<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="testEdah">
            <h2><span jhiTranslate="tdahApp.testEdah.detail.title">Test Edah</span> {{ testEdah.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tdahApp.testEdah.teacherEmail">Teacher Email</span></dt>
                <dd>
                    <span>{{ testEdah.teacherEmail }}</span>
                </dd>
                <dt><span jhiTranslate="tdahApp.testEdah.answered">Answered</span></dt>
                <dd>
                    <span>{{ testEdah.answered }}</span>
                </dd>
                <dt><span jhiTranslate="tdahApp.testEdah.key">Key</span></dt>
                <dd>
                    <span>{{ testEdah.key }}</span>
                </dd>
                <dt><span jhiTranslate="tdahApp.testEdah.teacherName">Teacher Name</span></dt>
                <dd>
                    <span>{{ testEdah.teacherName }}</span>
                </dd>
                <dt><span jhiTranslate="tdahApp.testEdah.instructions">Instructions</span></dt>
                <dd>
                    <span>{{ testEdah.instructions }}</span>
                </dd>
                <dt><span jhiTranslate="tdahApp.testEdah.patient">Patient</span></dt>
                <dd>
                    <div *ngIf="testEdah.patientId">
                        <a [routerLink]="['/patient', testEdah.patientId, 'view']">{{ testEdah.patientId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/test-edah', testEdah.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
