<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="testAnswer">
            <h2><span jhiTranslate="tdahApp.testAnswer.detail.title">Test Answer</span> {{ testAnswer.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tdahApp.testAnswer.value">Value</span></dt>
                <dd>
                    <span>{{ testAnswer.value }}</span>
                </dd>
                <dt><span jhiTranslate="tdahApp.testAnswer.testEdah">Test Edah</span></dt>
                <dd>
                    <div *ngIf="testAnswer.testEdahId">
                        <a [routerLink]="['/test-edah', testAnswer.testEdahId, 'view']">{{ testAnswer.testEdahId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="tdahApp.testAnswer.question">Question</span></dt>
                <dd>
                    <div *ngIf="testAnswer.questionId">
                        <a [routerLink]="['/question', testAnswer.questionId, 'view']">{{ testAnswer.questionId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/test-answer', testAnswer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
