<div>
    <h2 id="page-heading">
        <span jhiTranslate="tdahApp.testAnswer.home.title">Test Answers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-test-answer" [routerLink]="['/test-answer/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="tdahApp.testAnswer.home.createLabel">
            Create a new Test Answer
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="testAnswers?.length === 0">
        <span jhiTranslate="tdahApp.testAnswer.home.notFound">No testAnswers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="testAnswers && testAnswers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="value"><span jhiTranslate="tdahApp.testAnswer.value">Value</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="testEdahId"><span jhiTranslate="tdahApp.testAnswer.testEdah">Test Edah</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="questionId"><span jhiTranslate="tdahApp.testAnswer.question">Question</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let testAnswer of testAnswers ;trackBy: trackId">
                    <td><a [routerLink]="['/test-answer', testAnswer.id, 'view']">{{ testAnswer.id }}</a></td>
                    <td>{{ testAnswer.value }}</td>
                    <td>
                        <div *ngIf="testAnswer.testEdahId">
                            <a [routerLink]="['/test-edah', testAnswer.testEdahId , 'view']" >{{ testAnswer.testEdahId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="testAnswer.questionId">
                            <a [routerLink]="['/question', testAnswer.questionId , 'view']" >{{ testAnswer.questionId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/test-answer', testAnswer.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/test-answer', testAnswer.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(testAnswer)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="testAnswers && testAnswers.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
