.container-card {
  padding: 10px;
}

.example-card {
  max-width: 250px;
  height: 370px;
}

.diagnostic-box {
  height: 180px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');
  background-size: cover;
}

.center-button {
  text-align: center;
  margin-bottom: 20px;
}
